{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>RasPI weather station</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body onload="load()">
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAkpyGMVX1ffpiJMTtAGYvYwskobvwd7gw&libraries=drawing&libraries=visualization&sensor=true_or_false"></script>
  <!-- <script src="http://maps.google.com/maps?file=api&v=2&key=AIzaSyAkpyGMVX1ffpiJMTtAGYvYwskobvwd7gw" type="text/javascript"></script>-->
  <script src="http://cdn.jsdelivr.net/vue/1.0.10/vue.min.js"></script>
  <script type="text/javascript" src="{% static 'util.js' %}"></script>
  <script type="text/javascript" src="{% static 'app.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.1.1/chroma.min.js"></script>

  <div class="left">
  <h1>Map with all sensors</h1>
  <div id="map" style="width: 640px; height: 300px;"></div>

  <div id="list">
    <h1>Sensor list</h1>

    {% if sensor_list %}
      <ul>
      {% for sensor in sensor_list %}
        <li><a href="/info/{{ sensor.sensor_id }}/">Sensor {{ sensor.position }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No sensors are available.</p>
    {% endif %}
  </div>
</div>
<div class="right" id="sensor_info">
</div>
</body>
</html>
