{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>RasPI weather station</title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />

  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAkpyGMVX1ffpiJMTtAGYvYwskobvwd7gw&libraries=drawing&libraries=visualization&sensor=true_or_false"></script>
  <!-- <script src="http://maps.google.com/maps?file=api&v=2&key=AIzaSyAkpyGMVX1ffpiJMTtAGYvYwskobvwd7gw" type="text/javascript"></script>-->
  <script src="//cdn.jsdelivr.net/vue/1.0.10/vue.min.js"></script>
  <script type="text/javascript" src="{% static 'util.js' %}"></script>
  <script type="text/javascript" src="{% static 'app.js' %}"></script>
  <!-- Material Design fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap Material Design -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.5/css/bootstrap-material-design.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.5/css/ripples.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.1.1/chroma.min.js"></script>
  <style>
    body {
      padding-top: 50px
    }
  </style>


</head>
<body onload="load()">
<div class="container">
  <div class="left">
  <h1>Map with all sensors</h1>
  <div id="map" style="width: 640px; height: 300px;"></div>

  <div id="list">
    <h1>Sensor list</h1>

    {% if sensor_list %}
      <ul>
      {% for sensor in sensor_list %}
        <li><a href="/plots/{{ sensor.sensor_id }}/">Sensor {{ sensor.position }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No sensors are available.</p>
    {% endif %}
  </div>
</div>
<div class="right" id="sensor_info">
</div>
</div>
</body>
</html>
